body{
    margin: 0 60px;
    font-family: "Azeret Mono", monospace;
    
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.header-right{
    background: none;
    border: 1px solid blue;
    
}
.slider{
    background-image: url("./imag/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    text-align: center;
}
.slider-title{
    font-size: 50px;
    font-weight: 700;
}
.btn-primary{
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    font-size: 22px;
}
.hero{
    background:linear-gradient(180.00deg, #eeeff3 2%, #FFFFFF 100%);
}
.mere-dilum{
    margin-top: 30px;
    text-align:center ;
}
.eco{
    background: #FFFFFF;
    padding: 50px;
}
.blog{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn-blog{
    background: none;
    padding: 15px;
    border: 1px solid black;
}
.target{
    display: flex;
    justify-content: space-around;

}
.target-first{
    background-color: #ded4da;
    padding: 30px;
    border-radius: 5px;
}
.target-second{
    background-color: rgb(191, 191, 230);
    padding: 30px;
    border-radius: 5px;
}
.target-third{
    background-color: rgb(200, 202, 184);
    padding: 30px;
    border-radius: 5px;
}
.btn{
    background: none;
    
    padding: 0 px;
}
.to-go{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
}
.footer{
    background: url("./imag/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    color: white;
    text-align: center;

}
.footer-title{
    font-size: 38px;
    padding-top: 40px;
}
#email{
    padding: 15px 80px;
    border: none;
    border-radius: 5px;
}
.btn-second{
    padding: 15px;
    border-radius: 5px;
    border: none;
}
.last{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}